{% load i18n %}

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:my_home' %}">{% trans 'Home' %}</a>
                </li>

                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:registration' %}">{% trans 'Registration' %}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'user:login' %}">{% trans 'Login' %}</a>
                    </li>
                {% else %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'user:logout' %}">{% trans 'Logout' %}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'blog:create_post' %}">{% trans 'Create Post' %}</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">{% trans 'Search' %}</button>
            </form>

            <ul class="navbar-nav">
                {% get_current_language as lang %}
                {% get_available_languages as LANGUAGES %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ lang }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for language in LANGUAGES %}
                            <li><a class="dropdown-item {% if language.0 == lang %} bg-primary text-white {% endif %}"
                                   href="/{{ language.0 }}/{{ request.path|slice:'4:' }}">{{ language.1 }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>